body{
  background: rgba(180,180,180,0.5);
  font-family: 'Open Sans', sans-serif;
  color: rgb(80,80,80);
}
h1,h2,h3 {
  font-family: 'Exo', sans-serif;
  color: rgb(82,82,82);
  text-align: center
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 15px;
  text-align: center;
}
img {
  width: 200px;
  border: 2px solid rgb(200,200,200);
  box-shadow: -1px 2px 2px lightgrey
}
.list-in-line > li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  font-size: 18px;
}
a{
  text-decoration: none;
  color: rgb(70,70,70);
}
a:hover {
  color: rgb(50,50,50);
}
.container {
  width: 800px;
  margin: 0 auto;
}
.image-circle {
  border-radius: 50%;
  border: 2px solid rgb(150,100,100);
  box-shadow: 1px 1px 1px rgba(230,230,230,0.8)
}
.fa {
 color: rgba(0,0,100,0.7);
}
.card {
  text-align:center;
  background: white;
  padding: 30px 20px;
  border: 2px solid rgb(200,200,200);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(180,180,180,0.6);
  margin: 20px 60px;
}
.description-align p {
  width: 400px;
}
.description-align a {
  color: rgb(50,50,50);
}
.btn-red {
  background: rgb(200,0,0);
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  border: 1px solid rgb(230,230,230);
}
#side-bar {
  background: rgba(120,120,120,0.7);
  position: fixed;
  color: rgb(240,240,240);
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 30px;
}
#side-bar a i:hover {
  border: 4px;
  color: white;

}
#side-bar a {
  color:rgb(240,240,240);

}
#side-bar li{
  list-style: none;
  padding: 20px 10px;
}
#page-content {
  margin-left: 300px;
}
footer {

}


